@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

@layer utilities {
  .back-grad {
    background: linear-gradient(to bottom, #FFEFE2, #FFFFFF, #FFEFE2);
  }
}

/* .swiper {
  width: 100%;
  height: 100%;
} */


/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
} */

.swiper-pag { 
  background-color: #E5E7EB;
}


.swiper-pag-active {  
  background-color: #61AB6987;
  animation-name: countingBar;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: alternate ;
  animation-fill-mode:forwards;
}


.success-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.icon {
  margin-bottom: 1rem;
}

.success-icon img {
  width: 80px;
  height: 80px;
}

.failure-icon img {
  width: 80px;
  height: 80px;
}

.success-h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.success-p {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #6c757d;
}

.success-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

.success-button:hover {
  background-color: #0056b3;
}

.success {
  border-left: 5px solid #28a745;
}

.failure {
  border-left: 5px solid #dc3545;
}

.centered-image {
  position: absolute;
  bottom: -10vh;
  left: 50%;
  transform: translate(0, -50%);
}

input::-webkit-date-and-time-value {
  text-align: left;
}